In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data.csv")

In [3]:
data.head(100)

,Age,Asian Race,Black Race,County,Crime,Date,Jumlah pembunuhan,Sum of Latino Race,Method,Sum of N_American,...,Region,Sex,State,Total Hukuman Mati,Victim Count,Victim Female Gender,Victim Male Gender,Victim Race,Victim Sex,White Race
0,22,0,0,McIntosh,Murder,1997-05-08 00:00:00,1,0,Lethal Injection,0,...,South,Male,OK,1,1,0,1,White,Male,1
1,23,0,0,Chesterfield,Murder,1999-02-04 00:00:00,1,0,Lethal Injection,0,...,South,Male,VA,1,1,0,1,White,Male,1
2,23,0,0,Greene,Murder,2000-01-13 00:00:00,1,0,Lethal Injection,0,...,South,Male,VA,1,1,1,0,White,Female,1
3,24,0,0,Dallas,Murder,2012-10-24 00:00:00,1,0,Lethal Injection,0,...,South,Male,TX,1,1,1,0,White,Female,1
4,24,0,0,Marion,Murder,1981-03-09 00:00:00,4,0,Electrocution,0,...,Midwest,Male,IN,4,4,2,2,White,"2 Male, 2 Female",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,29,0,0,Chesterfield,Murder,1999-12-09 00:00:00,1,0,Lethal Injection,0,...,South,Male,VA,1,1,1,0,White,Female,1
96,29,0,0,Clay,Murder,1996-02-21 00:00:00,1,0,Lethal Injection,0,...,Midwest,Male,MO,1,1,0,1,White,Male,1
97,29,0,0,Dallas,Murder,2000-06-29 00:00:00,1,0,Lethal Injection,0,...,South,Male,TX,1,1,0,1,White,Male,1
98,29,0,0,Harris,Murder,1986-03-12 00:00:00,1,0,Lethal Injection,0,...,South,Male,TX,1,1,0,1,White,Male,1
99,29,0,0,Harris,Murder,1995-02-07 00:00:00,1,1,Lethal Injection,0,...,South,Male,TX,1,1,1,0,Latino,Female,0

In [4]:
data.tail(100)

,Age,Asian Race,Black Race,County,Crime,Date,Jumlah pembunuhan,Sum of Latino Race,Method,Sum of N_American,...,Region,Sex,State,Total Hukuman Mati,Victim Count,Victim Female Gender,Victim Male Gender,Victim Race,Victim Sex,White Race
1329,57,0,0,Tarrant,Murder,2001-06-13 00:00:00,1,0,Lethal Injection,0,...,South,Male,TX,1,1,0,1,White,Male,1
1330,57,0,0,Tulsa,Murder,2012-05-01 00:00:00,1,0,Lethal Injection,0,...,South,Male,OK,1,1,0,1,White,Male,1
1331,57,0,0,Washington,Murder,2014-04-23 00:00:00,1,0,Lethal Injection,0,...,Midwest,Male,MO,1,1,1,0,White,Female,1
1332,58,0,0,Cleveland,Murder,2005-03-11 00:00:00,1,0,Lethal Injection,0,...,South,Male,NC,1,1,1,0,White,Female,1
1333,58,0,0,Harris,Murder,2016-03-09 00:00:00,2,1,Lethal Injection,0,...,South,Male,TX,2,2,1,1,"1 White, 1 Latino","1 Male, 1 Female",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1424,74,0,0,Barry,Murder,2015-03-17 00:00:00,1,0,Lethal Injection,0,...,Midwest,Male,MO,1,1,0,1,White,Male,1
1425,74,0,0,Pottawatomie,Murder,2006-06-01 00:00:00,1,0,Lethal Injection,0,...,South,Male,OK,1,1,0,1,White,Male,1
1426,74,0,0,Tuscaloosa,Murder,2004-08-05 00:00:00,1,0,Lethal Injection,0,...,South,Male,AL,1,1,1,0,White,Female,1
1427,76,0,0,Glenn,Murder,2006-01-17 00:00:00,3,0,Lethal Injection,0,...,West,Male,CA,3,3,1,2,White,"2 Male, 1 Female",1
1428,77,0,0,Rankin,Murder,2005-12-14 00:00:00,1,0,Lethal Injection,0,...,South,Male,MS,1,1,1,0,White,Female,1

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1429 entries, 0 to 1428
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   1429 non-null   int64
 1   Asian Race            1429 non-null   int64
 2   Black Race            1429 non-null   int64
 3   County                1429 non-null   object
 4   Crime                 1429 non-null   object
 5   Date                  1429 non-null   object
 6   Jumlah pembunuhan     1429 non-null   int64
 7   Sum of Latino Race    1429 non-null   int64
 8   Method                1429 non-null   object
 9   Sum of N_American     1429 non-null   int64
 10  Name                  1429 non-null   object
 11  Race                  1429 non-null   object
 12  Region                1429 non-null   object
 13  Sex                   1429 non-null   object
 14  State                 1429 non-null   object
 15  Total Hukuman Mati    1429 non-null   int64
 16  Victim Count          1429 non-null   int64
 17  Victim Female Gender  1429 non-null   int64
 18  Victim Male Gender    1429 non-null   int64
 19  Victim Race           1429 non-null   object
 20  Victim Sex            1429 non-null   object
 21  White Race            1429 non-null   int64
dtypes: int64(11), object(11)
memory usage: 245.7+ KB

In [6]:
data.isnull().sum()

Age                     0
Asian Race              0
Black Race              0
County                  0
Crime                   0
Date                    0
Jumlah pembunuhan       0
Sum of Latino Race      0
Method                  0
Sum of N_American       0
Name                    0
Race                    0
Region                  0
Sex                     0
State                   0
Total Hukuman Mati      0
Victim Count            0
Victim Female Gender    0
Victim Male Gender      0
Victim Race             0
Victim Sex              0
White Race              0
dtype: int64

In [7]:
data.duplicated().sum()

0

In [11]:
data.dropna(inplace = True)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1430 entries, 0 to 1441
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              1430 non-null   object
 1   Name              1430 non-null   object
 2   Age               1430 non-null   int64
 3   Sex               1430 non-null   object
 4   Race              1430 non-null   object
 5   Crime             1430 non-null   object
 6   Victim Count      1430 non-null   int64
 7   Victim Sex        1430 non-null   object
 8   Victim Race       1430 non-null   object
 9   County            1430 non-null   object
 10  State             1430 non-null   object
 11  Region            1430 non-null   object
 12  Method            1430 non-null   object
 13  Juvenile          1430 non-null   object
 14  Volunteer         1430 non-null   object
 15  Federal           1430 non-null   object
 16  Foreign National  1430 non-null   object
dtypes: int64(2), object(15)
memory usage: 201.1+ KB

In [13]:
data.to_csv("crime.csv", index = False)

In [13]:
data['Sum of Latino Race'].unique()

array([0, 1, 2, 3], dtype=int64)